html {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto 64px;
  grid-template-areas:
    "header"
    "main"
    "footer"
;
}

#background {
  background-image: url('../img/abstract_bg.jpg');
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: max-content;
  background-color:	#24343cf3;
  display: grid;
  user-select: none;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: min-content;
  grid-template-areas:
    "brand  leftlist  rightlist"
;
}

.navbar-brand {
  grid-area: brand;
  font-size: 64px;
  font-style: bold;
  color: white;
  text-decoration: none;
  text-align: middle;
}

.navbar-toggler {
  display: none;
}

header ul#leftlist, header ul#rightlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24343c;
  vertical-align: middle;
}

header ul#leftlist {
  grid-area: leftlist;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

header ul#rightlist {
  grid-area: rightlist;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

header ul li {
  vertical-align: middle;
  margin: auto 0px;
}

header ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 8px;
}

header ul li a:hover {
  background-color:	#115887;
}

#header-username {
  font-style: bold;
  font-size: 1.75rem;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: auto;
  margin-right: 1.75rem;
}

main {
  grid-area: main;
  max-width: 800px;
  border: rgba(0, 0, 0, 0.479) solid 4px;
  border-radius: 16px;
  margin: 12px;
  margin-left: 256px;
  padding: 12px;
  background-color: rgba(224, 224, 224, 0.952); 
  
}

h1, h2, h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25;
}

footer {
  grid-area: footer;
  background-color:	#115887f1;
}

footer p {
  text-align: center;
  color:	#ffffffde;
}

.alert {
  width: auto;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1.5rem;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-warning {
  background-color: #f0ad4e;
}

.codesnippet {
  width: auto;
  border: solid black 2px;
  background-color: white;
  border-radius: 6px;
  padding: 0;
  margin: 0;
}

.codesnippet p {
  width: auto;
  overflow-x: auto;
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0;
}

.codesnippet-header {
  display: block;
  background-color:	#115887f1;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

.codesnippet-body {
  display: block;
  background-color: #d4d4d4;
  border: solid black 1px;
  margin: 0.5rem;
}

.codesnippet-footer {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.codesnippet-footer p {
  font-size: 0.8rem;
  text-align: right;
}

.codesnippet-footer p a {
  font-size: 1rem;
}
