<h1>
    <span class="far fa-list-alt"></span>WELCOME TO SNIPPETHUB!
</h1>
<p>SnippetHub aims to be the number #1 web service for storing and sharing code snippets.</p>
<h2>Today's featured code snippet</h2>
</table>
