<h1>LOGIN</h1>

<form method="post" action="/users/create">
  {{>validationSummary}}
  <div class="form-group">
    <input class="form-control" name="username" placeholder="Enter a username" required="required" autofocus="autofocus" />
    <br>
    <input class="form-control" name="password" placeholder="Enter a password" required="required" autofocus="autofocus" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Log In</button>
</form>