<h1>
  <span class="far fa-plus-square"></span> New Pure Number
</h1>

<form method="post" action="/create">
  {{>validationSummary}}
  <div class="form-group">
    <input type="number" class="form-control" name="value" value="{{value}}" placeholder="Enter a value" required="required" autofocus="autofocus" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create Pure Number</button>
</form>