<h1>
  <span class="far fa-plus-square"></span> {{user.username}}'s profile
</h1>

<p>EDIT SNIPPET</p>

<form method="post" action="./update">
  {{>validationSummary}}
  <div class="form-group">
    <input class="form-control" name="name" placeholder="Name" required="required" value="{{snippetName}}" autofocus="autofocus" />
    <br>
    <textarea class="form-control" name="code" placeholder="Code" required="required" autofocus="autofocus">{{snippetCode}}</textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Update Code Snippet</button>
</form>