<h1>
  <span class="far fa-plus-square"></span> {{user.username}}'s profile {{viewedProfileID}}
</h1>

<p>DELETE SNIPPET</p>

<form method="post" action="./delete">
  <button type="submit" class="btn btn-lg btn-primary">Yes</button>
</form>

<form method="get" action="./">
  <button type="submit" class="btn btn-lg btn-primary">No</button>
</form>