<h1 class="center-header">{{otherUser.username}}'s Code Snippets</h1>

{{#if otherUser.snippets.length}}
{{#each otherUser.snippets}}
  <div class="codesnippet">
      <div class="codesnippet-header"><h3>{{name}}</h3></div>
      <div class="codesnippet-body"><pre><code>{{code}}</code></pre></div>
      <div class="codesnippet-footer"></div>
  </div>
{{/each}}
{{else}}
<p>No code snippets yet.</p>
{{/if}}
