<h1 class="center-header">{{viewedProfileUser.username}}</h1>

<div class="codesnippet">
    <div class="codesnippet-header"><h3>{{snippet.name}}</h3></div>
    <div class="codesnippet-body"><pre><code>{{snippet.code}}</code></pre></div>
    <div class="codesnippet-footer"></div>
</div>
